<div class="container">
  <br>
  <div class="course-container">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col col-xs-6">
            <h4 class="panel-title"><b>Create a Discussion</b>
              <a routerLink="/discussionhome" routerLinkActive="active"><button  style="float: right;">X</button></a>
            </h4>
          </div>


        </div>
      </div>
    </div>


    <form>
      <input type="text" name="commentInput" placeholder="Title" />
      <br>
      <input type="text" name="commentInput" placeholder="Discussion content" />

    </form>

    <button  style="float: right; background-color: #a3ecff; ">Submit</button>

  </div>
</div>

