<script>
    function TimeCtrl($scope, $timeout) {
        $scope.clock = "loading clock..."; // initialise the time variable
        $scope.tickInterval = 1000 //ms

        var tick = function() {
            $scope.clock = Date.now() // get the current time
            $timeout(tick, $scope.tickInterval); // reset the timer
        }

        // Start the timer
        $timeout(tick, $scope.tickInterval);
    }
</script>
<div class="container">
  <br>
  <div class="course-container">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col col-xs-6">
            <h4 class="panel-title"><b>Create a Discussion</b>
              <a routerLink="/discussionhome" routerLinkActive="active"><button  style="float: right;">X</button></a>
            </h4>
          </div>
        </div>
      </div>
    </div>


    <form name="form-signup" (ngSubmit)="f.form.valid && submitDiscussion()" #f="ngForm" novalidate >
      <input type="text" placeholder="Title" class="form-control" name="title" id="title" [(ngModel)]="discussion.title" #title="ngModel" required />
      <div class="alert alert-danger" *ngIf="f.submitted && !title.valid">
        Title is required.
      </div>
      <input type="text"  placeholder="Discussion content" class="form-control" name="body" id="body" [(ngModel)]="discussion.body" #body="ngModel" required />
      <div class="alert alert-danger" *ngIf="f.submitted && !body.valid">
        Discussion cannot be empty.
      </div>
      <button  type="submit" class="btn btn-lg btn-primary btn-block btn-signin form-submit-button">Submit</button>
    </form>
    <hr>

  </div>
</div>

