<div class="container">
  <header >
  <h3><br>Discussions</h3>
  </header>
  <b></b>
  <hr>
  <br>

  <h5>{{discussionContent.title}}<button  style="float: right;">Delete</button></h5>

  <br>
 <p style="border:1px; border-style:solid; border-color:#cfcfcf; padding: 1em;">{{discussionContent.body}}</p>
 posted by {{discussionContent.userID}}
  <br>
  On {{discussionContent.timestamp}}


  <hr>
  <form>
    <input type="text"  placeholder="Say something here..." #cbody [(ngModel)]="commentInput" required/>
    <button type="button" (click)="submitComment(cbody.value)">Post Comment</button>
  </form>
  <br>

<!--
  <hr>
  <form>
    <input type="text" name="commentInput" placeholder="Say something here..." />
    <button type="button">Post Comment</button>
  </form>
  <br>
-->

  <!-- Comments -->
  <div style="border:1px; border-style:solid; border-color:#e9e9e9; padding: 1em;">
    <h6>Comments:</h6>
    <div class="card-body">
      <table class="table table-striped">
        <tbody>
        <tr *ngFor="let item of commentContent;  index as ind">
          <td>{{item.userID}} says:</td>
          <td>" {{item.body}} "</td>
          <td>{{item.timestamp}}</td>
          <td><button  style="float: right;">Delete</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
